/*
font-family:'Lato', sans-serif;
font-weight:300; light
font-weight:400; normal
font-weight:700; black
*/
html,
body,
div,
input,
textarea,
label,
h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
ul,
hr,
p,
img,
fieldset,
button,
iframe,
select,
header,
footer,
nav,
section{
	border:0;
	padding:0;
	margin:0;
	text-decoration:none;
	list-style:none;
	font-weight:normal;
	outline:none;
}
body{		
	background:#DEE2E8;		
	font-family:'Lato', sans-serif;
}
.clear{
	clear:both;
}
.full{	
	width:1000px;	
	margin:0 auto;
}
header{
	width:100%;	
	background-size:cover;
	display:block;
}
#contentBar{
	width:100%;
	position:absolute;
	z-index:10;
	top:0;
}
.fixed{
	position:fixed !important;
}
.chatFixed{	
	position:fixed !important;
	margin:-299px 0px 0px 223px !important;
}
#barWhite{
	width:72%;
	height:53px;
	background:rgba(255,255,255,0.85);
	position:absolute;
	top:0;
	left:0;	
}
#barRed,
#lineTextContact{		
	width:28%;
	height:53px;
	background:rgba(158, 0, 57, 0.85);
	position:absolute;
	top:0;
	right:0;
}
header .full{		
	position:relative;
	z-index:1;
}
header #logo{
	width:191px;
	height:17px;
	margin:18px 110px 0px 0px;
	display:block;
	float:left;
}
header #tel{		
	margin:19px 23px 0px 0px;
	font-family:'Lato', sans-serif;
	font-weight:300;
	font-size:14px;
	color:#9E0039;	
	text-transform:uppercase;
	display:block;
	float:left;
}
header #tel b{		
	font-weight:700;
	font-size:18px;
	color:#404750;
}
#menu{	
	width:94px;	
	margin:0px 35px 0px 0px;
	display:block;
	float:left;
}
#menu li{
	width:94px;	
	margin:0px 41px 0px 0px;
}
#menu li div{
	width:100%;
	height:53px;
	line-height:53px;
	background:none;
	font-weight:700;
	font-size:11px;
	color:#404750;
	display:block;	
}
#menu li div span{
	width:18px;
	height:17px;		
	margin:17px 6px 0px 19px;
	background:url('../images/sprite.png') no-repeat -38px -29px;
	display:block;	
	float:left;
}
#menu:hover div{
	background:#404750;	
	font-weight:700;
	color:#FFFFFF;
}
#menu:hover div span{
	background:url('../images/sprite.png') no-repeat 0px 0px;
}
#menu li:hover ul{	
	display:block;		
}
#menu li ul{
	width:223px;	
	background:#404750;	
	position:absolute;	
	display:none;	
}
#menu li ul li{
	width:100% !important;		
}
#menu li ul li a{
	width:100% !important;	
	height:24px;
	line-height:24px;		
	font-size:11px;
	color:#B4B8BD;
	text-transform:uppercase;
	text-indent:22px;
	margin:0px 0px 1px 0px;	
	display:block;	
}
#menu li ul li a:hover{	
	background:url('../images/sprite.png') no-repeat 211px -18px #9E0039;
	color:#FFFFFF;	
	text-indent:33px;		
}
#fullHouse{	
	line-height:53px;
	font-weight:700;
	font-size:11px;
	color:#FFFFFF;
	text-transform:uppercase;
	display:block;	
	float:left;
}
#fullHouse span{	
	width:30px;
	height:28px;
	background:url('../images/sprite.png') no-repeat -19px 0px;	
	margin:13px 8px 0px 0px;
	display:block;
	float:left;
}
#fullHouse:hover{
	text-decoration:underline;
}

/* slider */
#slider{
	width:100%;
	height:641px;
	overflow:hidden;
}
#slider li,
.bgSlider{
	width:100% !important;
	height:641px !important;
}
#slider li{	
	background:no-repeat center center;
	background-size:cover;
}
.bgSlider{
	width:100%;
	height:641px;
	background:url('../images/transparency.png') repeat-x bottom center;		
}
.contentSlider{	
	margin:491px 0px 0px -474px;
	display:inline-block;
	position:relative;
	left:50%;	
}
.contentSlider img{	
	width:128px;
	height:128px;
	margin:0px 19px 0px 0px;
	display:block;
	float:left;
}
.contentSlider span{	
	margin:50px 0px 0px 0px;
	float:left;
}
.contentSlider span h3{	
	font-size:12px;
	color:#FFFFFF;
	font-weight:700;
	margin:0px 0px 0px 0px;
	text-transform:uppercase;
}
.contentSlider span h3 b{		
	color:#BD0044;	
}
.contentSlider span h1{	
	font-size:34px;
	color:#FFFFFF;
	font-weight:300;
	margin:0px 0px 4px 0px;
	text-transform:uppercase;
}
.contentSlider span h4{	
	font-family:arial;
	font-size:12px;
	color:#B4B8BD;	
	text-transform:uppercase;
}
#nav{
	height:128px;
	width:11px;
	margin:491px 0px 0px -494px;
	display:block;
	position:absolute;
	left:50%;
	z-index:11;
}
#nav a{
	width:11px;
	height:11px;
	background:url('../images/sprite.png') no-repeat -14px -30px;	
	margin:0px 0px 12px 0px;
	overflow:hidden;
	text-indent:9999px;
	display:block;
}
#nav .activeSlide{	
	background:url('../images/sprite.png') no-repeat -26px -30px !important;		
}
/* :slider */

/* chat */
#chat{
	width:258px;	
	position:absolute;
	left:50%;
	margin:266px 0px 0px 223px;
	top:0;
	z-index:12;
	display:block;
}
#chat div{
	width:277px;
	height:299px;
	background:url('../images/sprite.png') no-repeat -295px 0px;		
	display:block;
}
#chat a,
.chatOnline{	
	width:277px;
	height:53px;
	background:url('../images/sprite.png') no-repeat 252px -43px #BD0044;		
	display:block;
}
.chatOnline{
	width:277px;	
	background:url('../images/sprite.png') no-repeat 252px -43px #BD0044;
	margin:11px 0px 0px 0px;
	clear:left;
}
.chatOnline:hover{	
	background:url('../images/sprite.png') no-repeat 252px -43px #AF0030;	
}
#chat a span,
.chatOnline span{
	width:53px;
	height:53px;
	background:#9E0039;		
	display:block;
	float:left;
}
.chatOnline:hover span{	
	background:#8C0027;			
}
#chat a span b,
.chatOnline span b{
	width:32px;
	height:28px;
	background:url('../images/sprite.png') no-repeat -50px 0px;		
	margin:14px 0px 0px 11px;
	display:block;	
}
#chat a p,
.chatOnline p{
	width:142px;
	font-weight:700;
	font-size:13px;
	color:#FFFFFF;
	margin:12px 0px 0px 19px;
	display:block;
	float:left;
	text-transform:uppercase;
}
.chatOnline p{
	width:165px;
	margin:12px 0px 0px 9px;
}
#chat a:hover{
	background:url('../images/sprite.png') no-repeat 252px -43px #AF0030;		
}
#chat a:hover span{
	background:#8C0027;		
}
/* :chat */

#titleContent{
	width:100%;
	font-weight:300;
	font-size:30px;
	color:#404750;
	text-align:center;	
	text-transform:uppercase;
	margin:0px 0px 39px 0px;
	display:block;	
}
#titleContent span{
	width:65px;
	height:60px;
	background:url('../images/sprite.png') no-repeat -143px 0px;		
	margin:42px auto 16px auto;
	display:block;	
}

/* box product */
#boxContentProduct{	
	width:100%;
	height:509px;		
	overflow:hidden;
	display:block;
}
#boxContentProduct #transparency{	
	width:1000px;
	height:135px;
	background:url('../images/transparency_product.png') repeat-x bottom center;
	position:absolute;
	margin:374px 0px 0px 0px;
	z-index:9;
	display:block;
}
.boxProductLeft,
.boxProductRight{
	width:491px;
	height:171px;
	border:#FFFFFF 1px solid;
	margin:0px 14px 14px 0px;
	display:block;
	float:left;
}
.boxProductRight{	
	margin:0px 0px 14px 0px !important;	
}
.boxProductLeft img,
.boxProductRight img{
	width:147px;
	height:147px;
	margin:13px 17px 0px 11px;
	display:block;
	float:left;
}
.boxProductLeft div,
.boxProductRight div{
	width:177px;
	display:block;		
	float:left;
}
.boxProductLeft h2,
.boxProductRight h2{
	font-weight:700;
	font-size:12px;
	color:#9E0039;		
	text-transform:uppercase;
	margin:25px 0px 0px 0px;
	display:block;	
}
.boxProductLeft h2 b,
.boxProductRight h2 b{
	font-weight:400;	
	color:#404750;
	display:block;
}
.boxProductLeft h1,
.boxProductRight h1{
	font-weight:700;
	font-size:24px;
	color:#404750;
	max-height:60px;
	overflow:hidden;
	text-transform:uppercase;
	margin:5px 0px;
	display:block;	
}
.boxProductLeft p,
.boxProductRight p{
	font-weight:300;
	font-size:12px;
	color:#7e8288;	
	text-transform:uppercase;
	display:block;	
}
.boxProductLeft span,
.boxProductRight span{
	width:110px;
	height:34px;
	line-height:34px;
	background:url('../images/sprite.png') no-repeat 87px -97px #7E8288;
	font-weight:300;
	font-size:12px;
	color:#FFFFFF;
	text-indent:10px;
	margin:111px 0px 0px 10px;
	text-transform:uppercase;
	display:block;
	float:left;
}
.boxProductLeft:hover,
.boxProductRight:hover{
	background:#FFFFFF;
}
.boxProductLeft:hover span,
.boxProductRight:hover span{
	background:url('../images/sprite.png') no-repeat 87px -132px #9E0039;
}
.btView{
	width:151px;
	height:53px;	
	background:url('../images/sprite.png') no-repeat 126px -43px #9E0039;	
	margin:20px auto;
	text-transform:uppercase;
	display:block;	
}
.btView p{
	width:80px !important;
	font-weight:700 !important;
	font-size:12px !important;
	color:#FFFFFF !important;
	margin:12px 0px 0px 26px !important;
	display:inline-block !important;	
}
.btView:hover{	
	background:url('../images/sprite.png') no-repeat 126px -43px #BD0044;
}
/* :box product */

/* box contact */
#boxContact{
	width:100%;
	height:150px;
	background:#FFFFFF;
	margin:57px 0px;
}
#boxContact #image{
	width:293px;
	height:155px;	
	background:url('../images/sprite.png') no-repeat 0px -168px;	
	margin:-5px 0px 0px 0px;
	display:block;
	float:left;
}
#boxContact p{		
	width:700px;
	font-weight:300;
	font-size:34px;
	color:#404750;	
	margin:22px 0px 12px 6px;
	text-transform:uppercase;
	display:block;
	float:left;
}
#boxContact p b{	
	width:275px;
	font-weight:700;
	font-size:12px;
	color:#9E0039;	
	margin:0px 0px 0px 0px;
	text-transform:uppercase;
	display:inline-block;	
}
#boxContact ul li a{	
	width:204px;
	height:53px;
	display:block;
	float:left;
}
#boxContact ul li #contactChat,
#boxContact ul li #contactMail,
#boxContact ul li #contactPhone{			
	background:url('../images/sprite.png') no-repeat 179px -324px #7E8288;		
	text-transform:uppercase;
	display:block;	
}
#boxContact ul li #contactChat p,
#boxContact ul li #contactMail p,
#boxContact ul li #contactPhone p{			
	width:95px;
	font-weight:700;
	font-size:12px;
	color:#FFFFFF;
	margin:12px 0px 0px 17px;
	display:inline-block;
}
#boxContact ul li #contactChat,
#boxContact ul li #contactMail{
	margin:0px 37px 0px 9px;
}
#boxContact ul li #contactChat span,
#boxContact ul li #contactMail span,
#boxContact ul li #contactPhone span{			
	width:53px;
	height:53px;
	background:#404750;
	display:block;
	float:left;
}
#boxContact ul li #contactChat span b,
#boxContact ul li #contactMail span b,
#boxContact ul li #contactPhone span b{				
	display:block;	
}
#boxContact ul li #contactPhone{
	cursor:default;
}
#boxContact ul li #contactChat span b{				
	width:32px;
	height:28px;
	background:url('../images/sprite.png') no-repeat -50px 0px;	
	margin:14px 0px 0px 11px;
}
#boxContact ul li #contactMail span b{				
	width:29px;
	height:24px;
	background:url('../images/sprite.png') no-repeat -83px 0px;	
	margin:14px 0px 0px 11px;
}
#boxContact ul li #contactPhone span b{				
	width:29px;
	height:27px;
	background:url('../images/sprite.png') no-repeat -113px 0px;	
	margin:14px 0px 0px 12px;
}
.selected{			
	background:url('../images/sprite.png') no-repeat 179px -43px #BD0044 !important;		
}
.selected span{
	background:#9E0039 !important;
}
.selected:active{
	background:url('../images/sprite.png') no-repeat 179px -43px #AF0030 !important;		
}
.selected:active span{
	background:#8C0027 !important;	
}
/* :box contact */

/* menu footer*/
#menuFooter{
	width:100%;
	height:50px;
	border-top:#FFFFFF 1px solid;
	border-bottom:#FFFFFF 1px solid;
	margin:0px 0px 10px 0px;
}
#barFooterWhite{
	width:50%;
	height:36px;
	background:#FFFFFF;
	position:relative;
	margin:7px 0px 0px 0px;
	display:block;
	float:left;
}
#barFooterGray{
	width:50%;
	height:36px;
	background:#404750;
	position:relative;
	margin:7px 0px 0px 0px;
	display:block;
	float:right;
}
#menuFooter .full{
	width:1000px;
	height:36px;
	position:absolute;
	margin:7px 0px 0px -500px;
	left:50%;
}
#menuFooter .full #logoFooter{	
	width:144px;
	margin:12px 13px 0px 0px;
	display:block;
	float:left;
}
#menuFooter .full #logoFooter img{	
	width:144px;
	display:block;
}
#menuFooter .full ul{	
	width:842px;
	height:36px;
	line-height:36px;
	background:#404750;	
	display:block;
	float:left;
}
#menuFooter .full ul li a{
	height:36px;
	line-height:36px;	
	font-weight:300;
	font-size:11px;
	margin:0px 0px 0px 26px;
	color:#B4B8BD;
	text-transform:uppercase;
	display:block;
	float:left;
}
#menuFooter .full ul li a:hover{
	height:50px;
	line-height:50px;
	background:url('../images/menu_footer.png') no-repeat center center;	
	margin:-7px 0px 0px 26px;	
	color:#FFFFFF;
}
/* :menu footer */

#aboutContent{
	width:100%;
	height:380px;
	background:#000000;
}
#aboutContent #image{
	width:100%;
	height:380px;
	background:url('../images/about_content.jpg') no-repeat center center;
	background-size:cover;
	position:absolute;
	top:0;
	left:0;
	opacity:0.7;
}
#aboutContent span{
	width:100%;
	height:50px;
	line-height:50px;
	background:rgba(0,0,0,0.7);	
	margin:330px 0px 0px 0px;	
	position:absolute;
	font-weight:300;
	z-index:20;
	text-align:center;
	text-transform:uppercase;
	font-size:22px;
	color:#FFFFFF;
	display:inline-block;	
}
#aboutContent span b{	
	font-weight:700;	
}
.lineTitle{
	width:73px;
	height:7px;
	background:url('../images/sprite.png') no-repeat -26px -47px;
	margin:0px auto 30px auto;
}
.texts{
	width:780px;
	margin:0px auto;
}
.texts p{
	line-height:20px;
	font-weight:400;
	font-size:12px;
	color:#404750;
	margin:0px 0px 20px 0px;
}
.texts b{		
	width:100%;
	font-weight:700;
	font-size:12px;
	color:#9E0039;
	text-transform:uppercase;	
	text-align:center;
	display:inline-block;
	margin:10px 0px 0px 0px;
}
#contactContent,
#voiceContent{
	width:100%;
	height:563px;
	background:#000000;
}
#contactContent #image,
#voiceContent #image{
	width:100%;
	height:563px;
	background:url('../images/contact_content.jpg') no-repeat center center;
	background-size:cover;
	position:absolute;
	top:0;
	left:0;
	opacity:0.7;
}
#voiceContent #image{	
	background:url('../images/voice_content.jpg') no-repeat center center;	
	background-size:cover;
}
#contactContent .full,
#voiceContent .full{
	position:absolute;
	z-index:20;
	margin:93px 0px 0px -500px;
	left:50%;
	z-index:9;
}
#titleContact{
	width:350px;	
	font-weight:300;
	font-size:30px;
	text-transform:uppercase;
	color:#FFFFFF;
	margin:0px 0px 0px 349px;
	text-align:right;
	float:left;
}
#titleContact b{	
	width:75%;
	height:35px;
	font-weight:700;
	margin:0px 0px 0px 89px;
	font-size:12px;	
	display:block;
}
#formContact{
	width:268px;	
	position:relative;
	z-index:22;
	margin:0px 3px 0px 0px;
	float:right;
}
#formContact p{		
	height:53px;
	line-height:53px;	
	font-weight:300;
	font-size:22px;
	margin:0px 0px 31px 18px;
	text-transform:uppercase;
	color:#FFFFFF;
}
#formContact p b{	 		
	font-weight:700;	
}
#formContact p span{
	width:73px;
	height:7px;
	background:url('../images/sprite.png') no-repeat -26px -47px;
	margin:-3px 0px 0px 0px;
	display:block;
}
#formContact form{
	width:100%;
	margin:0px 0px 0px 0px;
	display:block;	
}
#formContact form label{
	width:100%;
	height:10px;
	line-height:10px;
	font-weight:700;
	font-size:12px;
	color:#FFFFFF;
	margin:0px 0px 4px 0px;
	text-transform:uppercase;
	display:block;	
}
#formContact form input[type='text']{
	width:100%;
	height:26px;
	line-height:26px;
	background:#FFFFFF;
	border:#FFFFFF 1px solid;
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:12px;
	color:#404750;
	text-indent:5px;
	margin:0px 0px 21px 0px;
	display:block;
}
#formContact form textarea{
	width:100%;
	height:106px;	
	background:#FFFFFF;
	font-size:12px;
	border:#FFFFFF 1px solid;
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:12px;
	color:#404750;
	text-indent:5px;
	margin:0px 0px 21px 0px;
	display:block;
}
#formContact form input[type='text']:focus,
#formContact form textarea:focus{	
	box-shadow:0px 0px 15px 0px rgba(158,0,57,0.5);
}
#formContact form input[type='submit']{
	width:110px;
	height:34px;
	line-height:34px;
	background:url('../images/sprite.png') no-repeat 87px -132px #9E0039;
	font-weight:700;
	font-size:11px;
	color:#FFFFFF;
	text-indent:-15px;
	margin:0px auto;
	text-transform:uppercase;
	cursor:pointer;
	display:block;		
}
#formContact form input[type='submit']:hover{	
	background:url('../images/sprite.png') no-repeat 87px -132px #AF0030;
}
#lineTextContact{
	width:35%;
	height:53px;
	background:rgba(0,0,0,0.4);
	position:absolute;	
	top:93px;
	right:0;
	z-index:9;
}
#menuSimulator{	
	width:100%;
	height:40px;
	background:rgba(222,226,232,0.85);
	margin:53px auto 24px auto;	
}
#menuSimulator ul{	
	width:576px;
	margin:0 auto;
	display:block;
}
#menuSimulator li a{
	width:266px;
	height:20px;
	line-height:20px;
	background:#CACED4 !important;
	border:#8C9096 1px solid;
	font-weight:700;
	font-size:12px;
	color:#404750;
	text-align:center;
	margin:9px 10px;
	text-transform:uppercase;
	display:block;
	float:left;
}
#menuSimulator li a:hover,
#menuSimulator li .selected{	
	background:#9E0039 !important;
	border:#9E0039 1px solid !important;	
	color:#FFFFFF !important;	
}
#spacer{
	margin:0px 0px 108px 0px;
	display:block;
}
#titleSimulator{
	font-weight:300;
	font-size:30px;
	color:#404750;
	text-align:center;
	margin:0px auto 33px auto;	
}
#titleSimulator span{
	width:46px;
	height:61px;
	background:url('../images/sprite.png') no-repeat -209px -29px;
	margin:0px auto 17px auto;
	display:block;
}
#loader{
	width:100%;
	background:#FFFFFF;
	position:fixed;
	top:0;
	left:0;
	z-index:50;
}
#loader span{
	margin:0 auto;
	display:block;
}
#loader span img{
	margin:0px auto 15px auto;
	display:block;
}
#loader span p{
	width:100%;
	font-weight:300;
	font-size:11px;
	color:#999999;
	text-transform:uppercase;	
	margin:0px auto 15px auto;
	text-align:center;
	display:block;
}
#formSimulator{
	width:100%;
	height:53px;
	background:#C6CAD0;
	margin:0px 0px 26px 0px;
	/*display:inline-block;*/
	display:none;
}
#formSimulator fieldset{
	width:997px;
	margin:0 auto;
	display:block;
}
#formSimulator fieldset span{
	width:140px;
	margin:6px 24px 0px 0px;
	display:block;
	float:left;
}
#formSimulator fieldset span label{
	width:100%;	
	height:11px;
	line-height:11px;
	font-weight:700;
	font-size:12px;
	color:#9E0039;
	text-transform:uppercase;
	margin:0px 0px 4px 0px;
	display:block;
}
#formSimulator fieldset span div,
#formSimulator fieldset span input[type='text'],
#formSimulator fieldset span select{
	width:100%;
	height:26px;
	line-height:26px;
	font-size:12px;
	color:#404750;
	background:#FFFFFF;	
	display:block;
}
#formSimulator fieldset span div{
	background:url('../images/sprite.png') no-repeat -151px -100px #FFFFFF;	
}
#formSimulator fieldset span input[type='text']{	
	width:97%;	
	background:none;
	text-align:right;
}
#formSimulator fieldset input[type='submit']{
	width:177px;
	height:53px;
	background:url('../images/sprite.png') no-repeat 152px -43px #BD0044;
	font-weight:700;
	font-size:12px;
	color:#FFFFFF;
	text-transform:uppercase;
	text-indent:46px;
	text-align:left;
	cursor:pointer;
	display:block;
	float:left;
}
#formSimulator fieldset input[type='submit']:hover{	
	background:url('../images/sprite.png') no-repeat 152px -43px #AF0030;	
}
#simulatorLeft{
	width:275px;
	border:#FFFFFF 1px solid;
	margin:0px 38px 0px 0px;
	float:left;
}
#simulatorLeft span{
	width:39px;
	height:38px;
	background:url('../images/sprite.png') no-repeat -169px -61px;
	margin:16px 11px 12px 19px;
	display:block;
	float:left;
}
#simulatorLeft p{
	width:190px;
	height:38px;
	line-height:38px;
	font-weight:300;
	font-size:20px;
	color:#9e0039;
	text-transform:uppercase;	
	margin:16px 0px 0px 0px;
	text-align:center;
	display:block;
	float:left;
}
#simulatorLeft ul{
	width:100%;
	display:block;
	margin:0px 0px 12px 0px;
	float:left;
}
#simulatorLeft ul li a{
	width:100%;
	height:22px;
	line-height:22px;
	font-weight:300;
	font-size:12px;
	color:#404750;
	text-transform:uppercase;	
	text-indent:18px;
	display:block;	
}
#simulatorLeft ul li a:hover,
#simulatorLeft ul li .selected{
	width:105%;
	background:url('../images/sprite.png') no-repeat 274px -18px #9E0039;
	font-weight:700;
	color:#FFFFFF;	
	text-indent:25px;	
}
.contentSimulator{
	display:none;
}
#simulatorRight{
	width:685px;
	float:right;
}
#simulatorRight p{
	width:100%;	
	line-height:20px;
	font-weight:400;
	font-size:12px;
	margin:0px 0px 31px 0px;
	color:#404750;	
	display:block;	
}
#simulatorRight p b{	
	font-weight:700;	
	color:#9E0039;	
	margin:0px 0px -31px 0px;
	text-transform:uppercase;	
	display:block;
}
.fixedSimulator{
	position:fixed;
	top:122px;
}
#rent{
	width:100%;
	position:relative;
	top:45px;
	display:block;
	float:left;
}
#rent .image{
	width:100%;
	height:276px;	
	background:#000000;
}
#rent .image span{
	width:100%;
	height:276px;
	background:url('../images/rent_content.jpg') no-repeat center center;
	background-size:cover;
	position:absolute;	
	opacity:0.7;
	display:block;
}
#rent .title{
	width:100%;
	font-weight:300;
	font-size:30px;
	color:#404750;
	text-transform:uppercase;	
	margin:41px 0px 30px 0px;
	text-align:center;
	display:block;
}
#rent .title span{
	width:75px;
	height:70px;
	background:url('../images/sprite.png') no-repeat -75px -94px;	
	margin:0px auto 26px auto;
	display:block;
}
#rent p{
	width:885px;
	line-height:22px;
	font-weight:400;
	font-size:12px;
	color:#404750;	
	margin:0 auto;	
	display:block;
}
#rent b{
	width:490px;
	line-height:22px;
	font-weight:700;
	font-size:12px;
	color:#9E0039;	
	text-transform:uppercase;	
	text-align:center;
	margin:27px auto;		
	display:block;
}
#rent .btView p{
	line-height:15px !important;
}
#rent hr,
.lineHr{
	width:100%;
	height:1px;
	background:url('../images/line.png') repeat-x center center;	
	margin:50px auto;
	display:inline-block;
}
#partnerContent{
	width:100%;
	height:380px;
	background:#000000;
}
#partnerContent #image{
	width:100%;
	height:380px;
	background:url('../images/partner_content.jpg') no-repeat center center;
	background-size:cover;
	position:absolute;
	top:0;
	left:0;
	opacity:0.7;
}
#investContent{
	width:100%;
	height:380px;
	background:#000000;
}
#investContent #image{
	width:100%;
	height:380px;
	background:url('../images/invest_content.jpg') no-repeat center center;
	background-size:cover;
	position:absolute;
	top:0;
	left:0;
	opacity:0.7;
}
.titlePartner{
	font-weight:300;
	font-size:30px;
	color:#404750;
	text-align:center;
	text-transform:uppercase;	
	margin:33px auto;
}
#boxTexts{
	width:640px;
	margin:0 auto;
}
#boxTexts span,
#boxTexts div{
	width:175px;
	line-height:20px;
	font-weight:400;
	font-size:12px;
	color:#404750;
	margin:36px auto 30px auto;
	display:block;
	float:left;
}
#boxTexts div{
	margin:36px 57px 30px 57px;	
}
#boxTexts span p,
#boxTexts div p{	
	line-height:25px;
	font-weight:300;
	font-size:18px;
	color:#9E0039;
	display:block;	
}
#boxTexts span p b,
#boxTexts div p b{	
	font-weight:700;	
}
.boxInfo{
	width:497px;
	margin:0 auto;
	clear:left;
}
.boxInfo span{
	width:345px;
	height:51px;
	line-height:51px;
	border-left:#C6CAD0 1px solid;
	border-top:#C6CAD0 1px solid;
	border-bottom:#C6CAD0 1px solid;
	font-weight:700;
	font-size:12px;
	color:#404750;
	text-transform:uppercase;
	text-align:center;	
	display:block;
	float:left;
}
.boxInfo a{
	width:151px;
	height:53px;
	background:url('../images/sprite.png') no-repeat 126px -43px #9E0039;
	text-transform:uppercase;
	display:block;
	float:left;
}
.boxInfo a p{
	width:80px !important;
	line-height:15px !important;
	font-weight:700 !important;
	font-size:12px !important;
	color:#FFFFFF !important;
	margin:12px 0px 0px 26px !important;
	display:inline-block !important;
}
.boxInfo a:hover{
	background:url('../images/sprite.png') no-repeat 126px -43px #BD0044;
}
#creci{
	font-weight:300;
	font-size:10px;
	color:#404750;
	text-transform:uppercase;
	margin:0px 0px 10px 0px;
	float:right;
}
#boxNotAcess{
	width:619px;
	height:53px;
	margin:0 auto 30px auto;
	clear:left;
}
#boxNotAcess span{
	width:450px;
	height:51px;		
	line-height:51px;		
	border:#C6CAD0 1px solid;	
	text-transform:uppercase;
	font-weight:700;
	font-size:12px;
	color:#404750;
	text-align:center;
	margin:0 auto;	
	display:block;
	float:left;
}
#boxNotAcess span ins{		
	color:#9E0039;	
	text-decoration:none;
}
#boxNotAcess a{
	width:167px;
	height:53px;
	background:url('../images/sprite.png') no-repeat -288px -484px #7E8288;
	text-transform:uppercase;
	display:block;
	float:left;
}
#boxNotAcess a p{
	width:90px;
	font-weight:700;
	font-size:12px;
	color:#FFFFFF;	
	margin:11px 0px 0px 18px;
	display:block;	
}
#boxNotAcess a:hover{
	background:url('../images/sprite.png') no-repeat -288px -484px #898C93;
}
#notAcess{
	margin:0px auto 20px auto;
	display:none;
}
#boxIleft{
	width:233px;
	margin:0px 15px 0px 0px;
	float:left;
}
#boxIright{
	width:749px;	
	float:right;
}

/* menu imoveis */
.menuImoveis{
	margin:0px 0px 4px 0px;
	display:block;
}
.menuImoveis h3{
	width:100%;
	height:59px;
	line-height:59px;
	background:#C6CAD0;
	font-weight:300;
	font-size:18px;
	color:#404750;
	text-align:center;
	margin:0px 0px 4px 0px;
	text-transform:uppercase;
	display:block;
	cursor:pointer;
}
#menu4 h3{	
	background:#FFFFFF;	
}
.menuImoveis h3:hover{
	opacity:0.85;
}
.menuImoveis .select{	
	background:#BD0044 !important;	
	color:#FFFFFF !important;	
}
.menuImoveis .select div{	
	background:#9E0039 !important;		
}
.menuImoveis h3 div{
	width:55px;
	height:59px;	
	background:#7E8288;
	text-align:center;	
	display:block;
	float:left;
}
#menu1 h3 div span{
	width:28px;
	height:38px;
	background:url('../images/sprite.png') no-repeat -26px -55px;
	margin:9px 0px 0px 12px;
	display:block;
}
#menu2 h3 div span{
	width:18px;
	height:49px;
	background:url('../images/sprite.png') no-repeat -56px -55px;
	margin:2px 0px 0px 19px;
	display:block;
}
#menu3 h3 div span{
	width:38px;
	height:38px;
	background:url('../images/sprite.png') no-repeat -75px -55px;
	margin:10px 0px 0px 8px;
	display:block;
}
#menu4 h3 div span{
	width:45px;
	height:30px;
	background:url('../images/sprite.png') no-repeat -114px -61px;
	margin:13px 0px 0px 6px;
	display:block;
}
.menuImoveis h3 div{
	width:55px;
	height:59px;	
	background:#7E8288;
	text-align:center;	
	display:block;
	float:left;
}
.menuImoveis .show{	
	display:block;		
}
.menuImoveis ul{	
	display:none;		
}
.menuImoveis ul li{
	width:100%;
	height:20px;
	line-height:20px;	
	font-weight:700 !important;
	font-size:12px;
	color:#FFFFFF;
	overflow:hidden;
	text-indent:7px;
	text-transform:uppercase;
	margin:0px 0px 4px 0px;
	display:block;		
}
.menuImoveis ul li p{
	width:100%;	
	background:#7E8288;
	display:block;
	cursor:pointer;
}
.menuImoveis ul li p b{
	margin:0px 5px 0px 0px;
}
.menuImoveis ul li p:hover,
.menuImoveis ul li label:hover{
	opacity:0.6;
}
.menuImoveis ul .expanded p{	
	background:#404750 !important;		
}
.menuImoveis ul .expanded{			
	height:auto !important;
}
.menuImoveis ul li input[type='checkbox']{		
	height:20px;
	margin:4px;
	display:block;
	float:left;
}
.menuImoveis ul li label{
	width:227px;
	height:22px;
	line-height:22px;
	display:block;	
	float:left;
	text-indent:20px;
	color:#404750;
	margin:3px 0px 3px -16px;
}
.menuImoveis ul input[type='submit']{
	width:100%;
	height:38px;
	line-height:38px;
	background:url('../images/sprite.png') no-repeat -178px -328px #9E0039;
	text-transform:uppercase;
	font-weight:700;
	font-size:12px;
	margin:0px 0px 16px 0px;
	color:#FFFFFF;
	display:block;
	cursor:pointer;	
}
.menuImoveis ul input[type='submit']:hover{	
	background:url('../images/sprite.png') no-repeat -178px -328px #AF0030;	
}
/* :menu imoveis */

#location{
	width:100%;
	height:178px;
	background:#FFFFFF;
}
#location span{
	width:176px;
	height:178px;
	border-left:#DEE2E8 1px solid;
	border-right:#DEE2E8 1px solid;
	float:left;
}
#location span img{
	margin:9px 0px 0px 8px;
	display:block;
}
#location h2{
	width:725px;
	font-weight:700;
	font-size:14px;
	color:#9E0039;
	text-transform:uppercase;
	margin:69px 0px 0px 96px;
	float:left;
}
#location h3{
	font-weight:300;
	font-size:26px;
	color:#404750;
	text-transform:uppercase;
	margin:0px 0px 0px 96px;
	float:left;
}
#contentInfo{
	width:100%;
	height:178px;
	background:#C6CAD0;
}
#contentInfo ul li{
	display:block;	
	text-transform:uppercase;
	float:left;
}
#contentInfo ul li p{	
	font-weight:700;
	font-size:11px;	
	text-align:center;	
}
#contentInfo ul li span{
	display:block;	
}
#info1{
	width:178px;
	height:119px;
	background:#404750;		
	color:#B4B8BD;
}
#info1 span{
	width:32px;
	height:59px;
	background:url('../images/sprite.png') no-repeat -49px -425px;	
	margin:14px 0px 0px 72px;
}
#info1 p{
	width:107px;		
	margin:6px 0px 0px 34px;
}
#info1 p b{	
	font-size:14px;
	color:#FFFFFF;	
}
#info2,
#info3,
#info4,
#info5{
	width:205px;
	height:119px;		
	color:#B4B8BD;
}
#info2 p,
#info3 p,
#info4 p,
#info5 p{
	width:120px;
	color:#404750;
	margin:10px 0px 0px 73px;
	display:block;
}
#info2 span{
	width:59px;
	height:47px;
	background:url('../images/sprite.png') no-repeat -82px -425px;	
	margin:24px 0px 0px 105px;
}
#info3 span{
	width:59px;
	height:51px;
	background:url('../images/sprite.png') no-repeat -142px -425px;	
	margin:20px 0px 0px 105px;
}
#info4 span{
	width:61px;
	height:55px;
	background:url('../images/sprite.png') no-repeat -202px -425px;	
	margin:16px 0px 0px 105px;
}
#info5 span{
	width:63px;
	height:49px;
	background:url('../images/sprite.png') no-repeat -264px -425px;	
	margin:22px 0px 0px 105px;
}

/* slider content*/
#sliderContentBox{
	float:left;
}
#sliderContent{
	width:715px;
	height:422px;
	overflow:hidden;	
}
#sliderContent li img{
	width:715px;
	height:422px;
	display:block;
}
#prevContent,
#nextContent{
	width:25px;
	height:147px;
	background:url('../images/sprite.png') no-repeat -439px -328px;	
	margin:138px 0px 0px 0px;
	position:absolute;	
	text-indent:99999px;	
	overflow:hidden;
	z-index:6;
	display:none;
}
#nextContent{	
	background:url('../images/sprite.png') no-repeat -465px -328px;	
	margin:138px 0px 0px 690px;		
}
#nav2{
	width:715px;
	height:25px;
	background:rgba(0,0,0,0.65);
	position:absolute;
	z-index:6;
	margin:397px 0px 0px 0px;
	text-align:center;
	display:block;
}
#nav2 a{
	width:10px;
	height:10px;
	background:#7E8288;		
	overflow:hidden;
	text-indent:9999px;
	border-radius:25px;
	margin:7px 3px 0px 3px;
	display:inline-block;		
}
#nav2 .activeSlide{	
	background:#FFFFFF;
}
/* :slider content */

#contentRight{
	width:277px;
	float:right;
}
#contentRight .box{
	width:100%;
	height:258px;
	background:#FFFFFF;
	display:block;
}
#contentRight .box h5,
#contentRight .box h6{
	width:100%;
	font-weight:300;
	font-size:15px;
	color:#404750;
	text-transform:uppercase;
	text-align:center;
	margin:50px 0px 0px 0px;
	display:inline-block;
}
#contentRight .box h5{
	line-height:49px;
}
#contentRight .box h6{	
	margin:0px 0px 0px 0px;
	display:block;
}
#contentRight .box h5 b{
	font-weight:700;
	font-size:25px;	
	display:block;
}
#contentRight .box h6 b{
	font-weight:700;
	font-size:25px;	
	color:#9E0039;
	display:block;
}
#contentRight .box hr{
	width:175px;
	height:0;
	border-top:#363636 1px dotted;
	margin:37px auto 40px auto;
	display:block;
}
.addthis_toolbox{
	margin:20px 0px 0px 0px;
	display:block;
}
.addthis_toolbox a{
	margin:0px 0px 0px 11px;
	border:#FFFFFF 1px solid;
	padding:0px !important;
}
.addthis_toolbox p{
	width:100%;
	font-weight:300;
	font-size:15px;
	color:#404750;
	text-transform:uppercase;
	text-align:center;
	margin:0px 0px 5px 0px;
	display:block;
}
#plant{
	width:100%;
	/*margin:0px 0px 0px -448px;
	position:relative;
	left:50%;
	*/
	display:block;
	float:left;
}
#plant .title{
	width:100%;
	text-align:center;
	font-weight:300;
	font-size:30px;
	color:#9E0039;
	margin:50px 0px 20px 0px;
	text-transform:uppercase;
	display:inline-block;
	clear:both;
}
#plant ul{
	width:896px;
	margin:0 auto;
	display:block;
}
#plant ul li{
	width:178px;
	height:178px;
	margin:0px 23px;	
	display:block;
	float:left;
}
#plant ul li img{	
	width:178px;
	height:178px;
	position:absolute;	
	display:block;	
}
#plant ul li span{
	width:26px;
	height:26px;
	background:url('../images/sprite.png') no-repeat -412px -328px;		
	position:relative;
	z-index:2;
	display:block;
}
#plant p{	
	width:632px;
	font-size:11px;
	color:#7E8288;
	margin:0px auto 0px auto;
	display:block;
	text-align:center;
	position:relative;
	top:27px;
	clear:left;
}

/* zoom content */
#zoomContent{
	width:100%;
	background:#FFFFFF;
	position:fixed;
	top:0;
	left:0;
	z-index:99999;
	display:none;
}
#zoomContent a{
	width:100px;
	height:25px;
	line-height:25px;
	background:#BD0044;
	font-size:11px;
	color:#FFFFFF;
	margin:5px auto;
	border-radius:3px;
	text-align:center;
	display:block;
}
#zoomContent a:hover{
	background:#AF0030;
}
#zoomContent span{
	width:100%;
	height:150px;
	background:no-repeat center center;	
	margin:0 auto;
	display:block;
}
/* :zoom content */

#plantText{
	width:100%;	
	background:#404750;
	padding:0px 0px 30px 0px;
	margin:59px 0px 0px 0px;
	display:block;
	float:left;
}
#plantText .title{
	width:100%;
	text-align:center;
	font-weight:300;
	font-size:30px;
	color:#FFFFFF;
	text-transform:uppercase;
	margin:50px 0px 20px 0px;
	display:inline-block;
	clear:both;
}
#plantText ul{
	width:540px;	
	margin:0px auto;
	display:block;	
}
#plantText ul li{
	width:270px;	
	display:block;
	float:left;
}
#plantText ul li p{
	height:25px;
	line-height:25px;
	margin:0px 0px 0px 0px;
	font-weight:300;
	font-size:15px;
	color:#C6CAD0;
	text-transform:uppercase;
	text-align:left;
	display:block;
}
#plantText ul li p b{	
	color:#9E0039;	
	font-size:10px;
	margin:0px 5px 0px 0px;
}

/* map */
#map{
	width:100%;	
	text-transform:uppercase;
	float:left;
}
#map .full .title{
	width:100%;
	text-align:center;
	font-weight:300;
	font-size:30px;
	color:#9E0039;
	margin:50px 0px 20px 0px;
	display:inline-block;
	clear:both;
	float:left;
}
#map .full p{
	width:100%;
	text-align:center;
	font-weight:700;
	font-size:16px;
	color:#404750;
	margin:0px 0px 25px 0px;
	display:inline-block;
	clear:both;
	float:left;
}
#map .full p b{
	color:#7E8288;
	margin:0px 0px 0px 9px;
}
#map .full ul{
	width:191px;
	margin:160px 0px 0px 0px;
	display:block;
	float:left;
	position:absolute;
	z-index:5;
}
#map .full ul{
	width:191px;
	margin:151px 0px 0px 0px;
	display:block;
	float:left;
	position:absolute;
	z-index:5;
}
#map .full ul b{
	width:100%;
	height:42px;
	line-height:42px;
	background:#9E0039;
	font-weight:300;
	font-size:17px;
	color:#FFFFFF;
	text-align:center;
	display:block;
}
#map .full ul li{
	width:100%;
	height:37px;
	line-height:37px;
	background:#404750;
	font-weight:700;
	font-size:12px;
	color:#B4B8BD;
	display:block;
	cursor:pointer;	
}
#map .full ul li:hover{
	background:#484F57;
}
#map .full ul li b{
	width:30px;
	height:43px;	
	background:url('../images/sprite.png') no-repeat -178px -389px;	
	border-top:#404750 1px solid;
	border-right:#404750 1px solid;
	display:block;	
	float:left;
}
#map .full ul li .select b{
	background:url('../images/sprite.png') no-repeat -209px -389px !important;
}
#map .full ul li .select{
	background:#9E0039 !important;
}
#map .full ul li div span{
	display:block;
	float:left;
}
#map .full ul #m1 div span{
	width:33px;
	height:14px;
	background:url('../images/sprite.png') no-repeat -249px -502px;
	margin:12px 10px 0px 10px;
}
#map .full ul #m1 .select span{	
	background:url('../images/sprite.png') no-repeat -249px -487px !important;	
}
#map .full ul #m2 span{
	width:31px;
	height:25px;
	background:url('../images/sprite.png') no-repeat -49px -512px;
	margin:8px 11px 0px 10px;
}
#map .full ul #m2 .select span{	
	background:url('../images/sprite.png') no-repeat -49px -486px !important;	
}
#map .full ul #m3 span{
	width:29px;
	height:24px;
	background:url('../images/sprite.png') no-repeat -81px -511px;
	margin:9px 14px 0px 10px;
}
#map .full ul #m3 .select span{	
	background:url('../images/sprite.png') no-repeat -81px -486px !important;	
}
#map .full ul #m4 span{
	width:26px;
	height:26px;
	background:url('../images/sprite.png') no-repeat -111px -513px;
	margin:9px 16px 0px 10px;
}
#map .full ul #m4 .select span{	
	background:url('../images/sprite.png') no-repeat -249px -486px !important;	
}
#map .full ul #m5 span{
	width:36px;
	height:13px;
	background:url('../images/sprite.png') no-repeat -138px -501px;
	margin:14px 9px 0px 7px;
}
#map .full ul #m5 .select span{	
	background:url('../images/sprite.png') no-repeat -135px -486px !important;	
}
#map .full ul #m6 span{
	width:25px;
	height:23px;
	background:url('../images/sprite.png') no-repeat -175px -511px;
	margin:9px 17px 0px 10px;
}
#map .full ul #m6 .select span{	
	background:url('../images/sprite.png') no-repeat -175px -486px !important;	
}
#map .full ul #m7 span{
	width:22px;
	height:20px;
	background:url('../images/sprite.png') no-repeat -201px -508px;
	margin:9px 19px 0px 10px;
}
#map .full ul #m7 .select span{	
	background:url('../images/sprite.png') no-repeat -249px -486px !important;	
}
#map .full ul #m8 span{
	width:24px;
	height:25px;
	background:url('../images/sprite.png') no-repeat -224px -513px;
	margin:9px 18px 0px 10px;
}
#map .full ul #m8 .select span{	
	background:url('../images/sprite.png') no-repeat -224px -486px !important;	
}
#map iframe{	
	width:100% !important;
	height:570px !important;
}
#map .mask{	
	width:100%;
	height:570px;
	background:rgba(0,0,0,0.6);
	position:absolute;
	z-index:1;
	left:0;
	margin:151px 0px 0px 0px;
}
#map .mask a{	
	width:167px;
	height:53px;
	line-height:53px;
	background:url('../images/sprite.png') no-repeat 147px -43px #BD0044;
	display:block;	
	margin:258px auto 0 auto;
	font-weight:700;
	font-size:12px;
	text-indent:19px;
	color:#FFFFFF;
}
#map .mask a:hover{		
	background:url('../images/sprite.png') no-repeat 147px -43px #AF0030;	
}
/* :map */

#seller{
	width:100%;	
	background:#FFFFFF;
}
#seller .full b{
	font-weight:700;
	font-size:28px;
	margin:55px 0px 18px 0px;
	color:#9E0039;
	text-transform:uppercase;
	display:inline-block;
}
#seller .full p{	
	font-size:14px;
	color:#404750;
	margin:0px 0px 50px 0px;
	display:inline-block;
}

/* modal chat */
#modalChat{
	width:100%;
	height:900px;
	background:rgba(0,0,0,0.8);
	position:fixed;
	top:0;
	left:0;
	z-index:45;
	display:none;
}
#modalChat .border{
	width:510px;
	height:430px;
	background:rgba(255, 255, 255, 0.2);
	margin:0px auto;
	border:rgba(255, 255, 255, 0.2) 1px solid;	
}
#modalChat .border iframe{
	width:500px !important;
	height:420px !important;	
	margin:5px auto;
	display:block;
}
#modalChat .border a{
	width:75px;
	height:25px;
	line-height:25px;
	background:#9E0039;
	text-align:center;
	font-size:11px;
	color:#FFFFFF;
	border-radius:3px 3px 0px 0px;
	margin:-26px -1px 0px 0px;
	display:block;
	float:right;
}
#modalChat .border a:hover{	
	background:#AF0030;	
}
/* :modal chat */

#messageSucess{
	width:600px;
	height:150px;
	background:rgba(0,0,0,0.2);
	border-radius:10px;
	border:rgba(0,0,0,0.21) 1px solid;
	text-transform:uppercase;
	text-shadow:1px 1px 0 #222222;	
	box-shadow:0 0 50px 1px rgba(255, 255, 255, 0.3);
	margin:139px auto 0px auto;
}
#messageSucess h1{
	width:100%;
	font-weight:300;
	font-size:30px;
	color:#FFFFFF;
	text-align:center;
	margin:40px 0px 0px 0px;
	display:block;
}
#messageSucess p{	
	font-weight:700;
	font-size:15px;
	color:#FFFFFF;
	text-align:center;
	display:block;
}
#barPhone,
#barCellphone{
	width:170px;
	height:53px;
	line-height:53px;
	font-size:12px;
	color:#9E003A;
	text-transform:uppercase;
	text-align:center;
	cursor:default;
	float:left;	
}
#barPhone .phoneText::after,
#barCellphone .phoneText::after{
	content:'';
	width:11px;
	height:5px;
	background:url('../images/arrow.png') no-repeat center center;
	margin:-10px auto 5px auto;
	display:block;	
}
#barPhone span,
#barCellphone span{
	width:170px;
	height:53px;
	line-height:53px;
	background:rgba(158, 0, 57, 0.85);
	font-size:14px;
	font-weight:bold;
	color:#FFFFFF;	
	text-transform:uppercase;	
	display:none;
}
#barPhone:hover span,
#barCellphone:hover span{	
	display:block;
}
#barPhone span p,
#barCellphone span p{	
	text-align:center;
}
#barPhone span p::before,
#barCellphone span p::before{
	content:'';
	width:29px;
	height:27px;
	background:url('../images/sprite.png') no-repeat -113px 0px;
	margin:13px 0px 0px 16px;
	display:block;
	float:left;
}

@media (max-width:990px){		
	#barWhite{
		width:100%;
	}
	#barRed,
	#lineTextContact{
		display:none;
	}
	#fullHouse{
		color:#9B1545;
	}
	#fullHouse span{	
		background:url('../images/sprite.png') no-repeat -209px 0px;	
	}	
}
@media (min-width:991px){		
	#barWhite{
		width:73%;
	}
	#barRed,
	#lineTextContact{		
		width:27%;
	}	
}
@media (min-width:1030px){		
	#barWhite{
		width:71%;
	}
	#barRed,
	#lineTextContact{		
		width:29%;
	}	
}
@media (min-width:1100px){		
	#barWhite{
		width:70%;
	}
	#barRed,
	#lineTextContact{		
		width:30%;
	}	
}
@media (min-width:1160px){	
	#barWhite{
		width:69%;
	}
	#barRed,
	#lineTextContact{		
		width:31%;
	}	
}
@media (min-width:1220px){	
	#barWhite{
		width:68%;
	}
	#barRed,
	#lineTextContact{		
		width:32%;
	}			
}
@media (min-width:1280px){	
	#barWhite{
		width:67%;
	}
	#barRed,
	#lineTextContact{		
		width:33%;
	}		
}
@media (min-width:1420px){	
	#barWhite{
		width:65%;
	}
	#barRed,
	#lineTextContact{		
		width:35%;
	}	
}	
@media (min-width:1540px){		
	#barWhite{
		width:64%;
	}
	#barRed,
	#lineTextContact{		
		width:36%;
	}	
}	
@media (min-width:1650px){	
	#barWhite{
		width:63%;
	}
	#barRed,
	#lineTextContact{		
		width:37%;
	}	
}					
@media (min-width:1740px){	
	#barWhite{
		width:62%;
	}
	#barRed,
	#lineTextContact{		
		width:38%;
	}		
}
@media (min-width:1820px){	
	#barWhite{
		width:62.3%;
	}
	#barRed,
	#lineTextContact{		
		width:37.7%;
	}		
}
@media (min-width:1900px){	
	#barWhite{
		width:62%;
	}
	#barRed,
	#lineTextContact{		
		width:38%;
	}		
}
@media (min-width:1950px){		
	#barWhite{
		width:100%;
	}
	#barRed,
	#lineTextContact{
		display:none;
	}
	#fullHouse{
		color:#9B1545;
	}
	#fullHouse span{	
		background:url('../images/sprite.png') no-repeat -209px 0px;	
	}	
}